/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 20px; // For consistent padding
$grey: #d4d4d4; // Background color
$dkgrey: #aaa; // Background color
$width: 640px; // Width of the content area
$br: 0; // Border radius
$btn-br: 0; // Border radius
$primary-color: rgb(0, 100, 255); // Primary color for buttons and links
$font-color: black; // Default font color
$line-height: 24px;