/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

body{
  background-color: $grey;
}
.body {
  background-color: $grey;
  width: 100%;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  margin: 0 auto !important; /* makes it centered */
  max-width: $width;
  padding: 10px;
  width: auto !important;
  width: $width;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  display: block;
  margin: 0 auto;
  max-width: $width;
  padding: 10px;
}


/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */

.main,
.header {
  background: white;
  border-radius: $br;
  width: 100%;
}

.main {
  .divider {
    padding-bottom: $padding;
    hr {
      border: 1px solid #eee;
      margin: 0;
    }
  }
  .full-image {
    line-height: 0;
    img {
      line-height: 0;
      max-width: 100%;
      width: 100%;
      margin-bottom: $line-height;
    }
  }
  .image {
    line-height: 0;
    max-width: 30%;
    img {
      max-width: 100%;
    }
  }
  .column-image {
    line-height: 0;
    max-width: 50%;
    img {
      max-width: 300px;
    }
  }
  .box {
    padding-left: $padding;
  }
}
.wrapper {
  padding: $padding;
}
.wrapper-mc {
  padding: 0 $padding $padding $padding;

  &.hello {
    padding: $padding;
  }

  .btn {
    td {
      padding-bottom: 0;
    }
    a {
      width: 100%;
    }
  }
}

.goodbye {
  .wrapper {
    border-bottom: 1px solid #bbb;
  }
}

// Adds padding to content - use this instead of paragraphs for consistent padding/margin rendering
.content-block {
  padding: 0 0 $padding;
}

.header {
  line-height: 0;
  a {
    text-decoration: none;
    line-height: 0;
    color: black;
    display: block;
  }
  td {
    padding: 0;
    background: white;
  }
  .logo {
    width: 30%;
  }
  .divider {
    width: 5%;
    vertical-align: bottom;
  }
  .mailer-logo {
    width: 65%;
  }
  .logo img,
  .divider img,
  .mailer-logo img {
    max-height: 70px;
    width: auto;
  }
}
.header-mc {
  .mail-logo {
    padding: $padding*2;
  }
  .mail-logo img {
    max-height: 60px;
  }
  .hero {
    line-height: 0;
  }
  .hero img {
    width: 100%;
    height: auto;
  }
}

.footer {
  clear: both;
  width: 100%;

  * {
    color: #999999;
    font-size: 12px;
    line-height: 16px;
  }
  .logo,
  .footer-logo {
    img {
      height: 14px !important;
      width: 69px !important;
    }
  }
  .social {
    line-height: 0;
    img {
      height: 28px;
      width: 28px;
      margin-left: 10px;
    }
  }
}
