/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

table[class=body]{
  @media only screen and (max-width: $width+40) {

    // Type
    h1 {
      font-size: 20px !important;
    }
    p,
    ul,
    ol {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 14px;
    }

    // Spacing
    .container {
      padding: 0 !important;
      width: 100% !important;
    }

    .header {
      img {
        max-height: 35px !important;
      }
    }

    .main {
      .wrapper {
        border-bottom: $padding/2 solid $grey !important;
      }
      img {
        max-width: 120px !important;
      }
      .box {
        padding-left: $padding/2 !important;
      }
    }

    .wrapper {
      padding: $padding/2 !important;
    }

    // Buttons
    .btn table {
      width: 100% !important;
    }
  }
}
