/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: $font-color !important;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: $line-height;
}

h1 {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: normal;
  font-weight: 300;
}
h2,
h3,
h4 {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p,
ul,
ol {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 12px;

  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: black;
  text-decoration: none;
}
