---
layout: default.hbs
subject: Newsletter
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>

<table class="header">
  <tr>
    <td class="align-left logo">
      <a href="http://www.morrr.com"><img src="../src/img/morrr-logo.png" alt="morrr.com"></a>
    </td>
    <td class="align-center divider">
      <img src="../src/img/divider.png" alt="|">
    </td>
    <td class="align-right mailer-logo">
      <img src="../src/img/mailer-logo.png" alt="Weekly pet-talk">
    </td>
  </tr>
</table>

<table class="hello">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h1>Hello!</h1>
            <p>There’s a lot happening on Morrr.com, so we’ve picked together this week’s best pieces that we thought might interest you. Happy reading!</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2>Simple responsive HTML email template</h2>
            <p>This is a really simple email template. It's sole purpose is to get you to click the button below.</p>


            <table class="btn btn-primary">
              <tr>
                <td align="center">
                  <table>
                    <tr>
                      <td>
                        <a href="http://www.leemunroe.com">Call to action</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>Don't like these annoying emails? <a href="{{ default.unsubscribe_url }}"><unsubscribe>Unsubscribe</unsubscribe></a>.</p>
      </td>
    </tr>
  </table>
</div>

