---
layout: default.hbs
subject: Mailchimp Template
---
<span class="preheader" mc:edit="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<p class="preheader-archive"><a href="*|ARCHIVE|*" target="_blank">View this email in your browser</a></p>

<table class="header-mc">
  <tr>
    <td class="align-center mail-logo">
      <a href="http://www.morrr.com"><img src="../src/img/mail-logo.png" alt="morrr.com"></a>
    </td>
  </tr>
  <tr>
    <td class="align-center hero">
      <img src="../src/img/img-header.jpg" alt="morrr.com" mc:edit="header_image" />
    </td>
  </tr>
</table>

<table class="main">
  <tr mc:repeatable mc:variant="text">
    <td class="wrapper-mc hello">
      <table>
        <tr>
          <td mc:edit="hello">
            <h1>Hello!</h1>
            <p>There’s a lot happening on <a href="http://morrr.com">Morrr.com</a>, so we’ve picked together this week’s best pieces that we thought might interest you. Happy reading!</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr mc:repeatable mc:variant="small-image">
    <td class="wrapper-mc">
      <table>
        <tr>
          <td class="divider">
            <hr>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="image">
            <img src="../src/img/img.png" mc:edit="column_image" />
          </td>
          <td class="box" mc:edit="column_text">
            <a href="http://morrr.com">
              <h2>Simple responsive HTML email template</h2>
            </a>
            <p>This is a really simple email template. It's sole purpose is to get you to click the button below.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr mc:repeatable mc:variant="two-column">
    <td class="wrapper-mc column">
      <table>
        <tr>
          <td class="divider">
            <hr>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="column-image">
            <img src="../src/img/img.png" mc:edit="column_image" />
          </td>
          <td class="box" mc:edit="column_text">
            <a href="http://morrr.com">
              <h2>Simple responsive HTML email template</h2>
            </a>
            <p>This is a really simple email template. It's sole purpose is to get you to click the button below.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr mc:repeatable mc:variant="full-width-image">
    <td class="wrapper-mc full">
      <table>
        <tr>
          <td class="divider">
            <hr>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="full-image">
            <img src="../src/img/img-header.jpg" mc:edit="full_image" />
          </td>
        </tr>
        <tr>
          <td mc:edit="hello">
            <a href="http://morrr.com">
              <h2>Simple responsive HTML email template</h2>
            </a>
            <p>This is a really simple email template. It's sole purpose is to get you to click the button below.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr mc:repeatable mc:variant="call-to-action">
    <td class="wrapper-mc c2a">
      <table>
        <tr>
          <td class="divider">
            <hr>
          </td>
        </tr>
      </table>
      <table class="btn btn-primary">
        <tr>
          <td align="center" mc:edit="c2a">
            <a href="https://www.morrr.com">Call to action</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="footer">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="align-left logo footer-logo">
            <a href="http://www.morrr.com">
              <img src="../src/img/footer-logo.png" alt="morrr.com"><br/>
              <span>Bulevardi 7, Helsinki 00100</span>
            </a>
          </td>
          <td class="align-right social">
            <a href="https://www.facebook.com/morrrpets/"><img src="../src/img/fb.png" alt="morrr.com Facebook"></a>
            <a href="https://twitter.com/@morrrpets"><img src="../src/img/tw.png" alt="morrr.com Twitter"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="wrapper align-left">
      <p><a href="{{ default.unsubscribe_url }}"><unsubscribe>*|UNSUB|*</unsubscribe></a></p>
      <p mc:edit="about-morrr">We are startup company offering digital pet services for animal wellbeing. Our aim is to become the leading marketplace for connecting pet owners with service providers. We cooperate with vets, groomers, trainers and other professionals to help pet owners easily find the best services. Our services are free to use for both customers and companies. We also provide professional tools for advancing sales and marketing with flexibly-priced premium tools. Please contact us to learn more. </p>
      <p>Copyright (C) *|CURRENT_YEAR|* Morrr Oy. All rights reserved.</p>
    </td>
  </tr>
</table>
