---
layout: default.hbs
subject: Newsletter
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>

<table class="header">
  <tr>
    <td class="align-left logo">
      <a href="http://www.morrr.com"><img src="../src/img/morrr-logo.png" alt="morrr.com"></a>
    </td>
    <td class="align-center divider">
      <img src="../src/img/divider.png" alt="|">
    </td>
    <td class="align-right mailer-logo">
      <img src="../src/img/mailer-logo.png" alt="Weekly pet-talk">
    </td>
  </tr>
</table>

<table class="hello">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h1>Hello!</h1>
            <p>There’s a lot happening on Morrr.com, so we’ve picked together this week’s best pieces that we thought might interest you. Happy reading!</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="image">
            <img src="../src/img/img.png" />
          </td>
          <td class="box">
            <h2>Simple responsive HTML email template</h2>
            <p>This is a really simple email template. It's sole purpose is to get you to click the button below.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="image">
            <img src="../src/img/img.png" />
          </td>
          <td class="box">
            <h2>Simple responsive HTML email template</h2>
            <p>This is a really simple email template. It's sole purpose is to get you to click the button below.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="goodbye">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>We are happy to have you on board our Morrr newsletter. Feel free to share your favorite articles and drop us a line on Facebook! Address any queries and feedback to <a href="mailto:feedback@morrr.com">feedback@morrr.com</a></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="footer">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="align-left logo">
            <a href="http://www.morrr.com">
              <img src="../src/img/footer-logo.png" alt="morrr.com"><br/>
              <span>Bulevardi 7, Helsinki 00100</span>
            </a>
          </td>
          <td class="align-right social">
            <a href="http://www.morrr.com"><img src="../src/img/fb.png" alt="morrr.com Facebook"></a>
            <a href="http://www.morrr.com"><img src="../src/img/tw.png" alt="morrr.com Twitter"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="wrapper align-left">
      <p>Don't like these emails? <a href="{{ default.unsubscribe_url }}"><unsubscribe>Unsubscribe</unsubscribe></a>.</p>
      <p>We are startup company offering digital pet services for animal wellbeing. Our aim is to become the leading marketplace for connecting pet owners with service providers. We cooperate with vets, groomers, trainers and other professionals to help pet owners easily find the best services. Our services are free to use for both customers and companies. We also provide professional tools for advancing sales and marketing with flexibly-priced premium tools. Please contact us to learn more. </p>
    </td>
  </tr>
</table>
